.comments-body {
    overflow: scroll;
}

.comments-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e3e3e3;
}

.comments-header-title {
    flex: 1;
}
