.comments-body {
    overflow: scroll;
    border-bottom: 1px solid #e3e3e3;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.comments-header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
}

.comments-header-title {
    flex: 1;
}
