.comment {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
    font-size: 11px;

    &:last-child {
        border-bottom: none;
    }
}

.comment-image {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
};

.comment-info {
    flex: 1;
    margin-right: 20px;
}

.comment-username {
    color: #ccc;
}

.comment-time {
    align-items: center;
}
