.header {
    height: 50px;
    background-color: #3a3f41;

    .container {
        height: 100%;
    }
};

.header-nav {
    display: table;
    height: 100%;
    list-style: none;
}

.header-nav-item {
    display: table-cell;
    vertical-align: middle;
}

.header-nav-item-link {
    margin: 10px 30px;
    padding: 2px 0;
    color: rgba(255,255,255, 0.5);
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover {
        text-decoration: none;
    }

    &.active {
        color: #fff;
        text-decoration: none;
    }
}

.header-logo {
    display: inline-block;
    padding: 11px 0;
    color: #fff;
    font-size: 20px;
    float: left;
}

.header-user-link {
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: #fff;

    &:hover {
        cursor: pointer;
    }

    .ion-person {
        margin-right: 6px;
        font-size: 20px;
    }

    .ion-chevron-down {
        color: #6B6B6B;
        font-size: 10px;
    }
}

.header-user-panel {
    top: 40px;
    right: 2px;
    width: 200px;
}

.header-user-panel-list {
    list-style: none;
}

.header-user-panel-item {
    padding: 10px;
    font-size: 11px;
}

.header-authed {
    position: relative;
    display: inline-block;
    margin-top: 4px;
    margin-left: 30px;

    &.active {
        .header-authed-dot {
            background-color: #A6D2A5;
        }
    }
}

.header-authed-dot {
    position: absolute;
    bottom: 3px;
    right: -2px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #3a3f41;
    background-color: rgba(166, 210, 165, 0.6);
}

.header-authed-image {
    width: 29px;
    height: 29px;
    border-radius: 100%;
}
