.popover {
    position: relative;
}

.popover.open > i, .popover.open:hover > i {
    color: #A6D2A5;
}

.popover-content {
    display: block;
    position: absolute;
    margin-top: 10px;
    border-radius: 1px;
    border: 1px solid #999;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.20);
    background-color: #fff;
    z-index: 3;
    cursor: auto;
}

.popover-content:before, .popover-content:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top: 0;
    box-sizing: border-box;
 }

.popover.top-right .popover-content:after {
    bottom: -13px;
    right: 14px;
    border-width: 7px;
    border-top: 7px solid #f4f4f4;
}

.popover.top-right .popover-content:before {
    bottom: -14px ;
    right: 14px ;
    border-width: 7px;
    border-top: 7px solid #999;
}

.popover.bottom-right .popover-content:after {
    top: -6px;
    right: 14px;
    border-width: 7px;
    border-bottom: 7px solid #fff;
}

.popover.bottom-right .popover-content:before {
    top: -7px ;
    right: 14px ;
    border-width: 7px;
    border-bottom: 7px solid #999;
}

.popover.bottom-left .popover-content:after {
    top: -6px;
    left: 14px;
    border-width: 7px;
    border-bottom: 7px solid #fff;
}

.popover.bottom-left .popover-content:before {
    top: -7px ;
    left: 14px ;
    border-width: 7px;
    border-bottom: 7px solid #999;
}

.popover.bottom-left, .popover.bottom-right {
    .ion-chevron-up {
        display: none;
    }

    &.open {
        .ion-chevron-up {
            display: inline-block;
        }

        .ion-chevron-down {
            display: none;
        }
    }
}
