.song-heart-count {
    &:hover {
        color: #333;
        cursor: pointer;

        i {
            color: #F9C5C5;
        }
    }


    &.liked i {
        color: #e17d74;
    }

    i {
        transition: color 0.2s ease-in-out;
    }
}
