.song-player {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e3e3e3;
}

.song-player-main {
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.song-player-main-info {
    width: 200px;
    margin-right: 40px;
}

.song-player-image {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 8px;
}

.song-player-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.song-player-button {
    padding: 4px;
    color: #ccc;

    &:hover {
        color: #222;
        cursor: pointer;

        .ion-ios-pause {
            color: #86AB85;
        }
    }

    & + .song-player-button {
        margin-left: 30px;
    }

    .ion-ios-pause {
        color: #A6D2A5;
    }
}

.song-player-seek {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 30px;
}

.song-player-seek-bar {
    position: relative;
    flex: 1;
    height: 2px;
    background-color: #ddd;
}

.song-player-seek-duration-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #A6D2A5;
}

.song-player-time {
    margin-left: 30px;
    color: #ccc;
    font-size: 11px;
}

.song-player-time-divider {
    margin: 0 10px;
}
