.songs-card {
    padding: 10px;

    &.active {
        border-color: #A6D2A5;

        .songs-card-image {
            pointer-events: none;
        }

        .songs-card-playing {
            background-color: rgba(0, 0, 0, 0.8);
        }

        .songs-card-playing-icon {
            opacity: 1;
        }
    }
}

.songs-card-image {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &:hover {
        cursor: pointer;
    }
}

.songs-card-user {
    display: block;
    width: 100%;
    overflow: hidden;
}

.songs-card-user-image {
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 4px;
    margin-right: 10px;
    border-radius: 100%;
    float: left;
}

.songs-card-playing {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: rgba(0, 0, 0, 0.8);

        .songs-card-playing-icon {
            opacity: 1;
        }
    }
}

.songs-card-playing-icon {
    color: #A6D2A5;
    font-size: 28px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.songs-card-details {
    position: relative;
    overflow: hidden;
}

.songs-card-user-username {
    display: block;
    margin-right: 30px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.songs-card-title {
    display: block;
    color: #222;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.songs-card-heart {
    position: absolute;
    bottom: -2px;
    right: 0;
    font-size: 14px;
}
