.song-card {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;

    &:last-child {
        border-bottom: 1px solid #e3e3e3;
    }

    &.active {
        border-color: #A6D2A5;
        border-bottom: 1px solid #A6D2A5;

        & + .song-card {
            border-top: none;
        }

        .song-card-image {
            pointer-events: none;
        }

        .songs-card-playing {
            background-color: rgba(0, 0, 0, 0.8);
        }

        .songs-card-playing-icon {
            opacity: 1;
        }
    }
}

.song-card-detail {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 10px;
}

.song-card-image {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &:hover {
        cursor: pointer;
    }
}

.song-card-title {
    font-size: 14px;
    font-weight: 300;
}

.song-card-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

.song-card-user-image {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.song-card-waveform {
    display: flex;
    align-items: center;
    width: 200px;
    height: 80px;
    border-left: 1px solid #e3e3e3;
}
.song-card-waveform .waveform {
    height: 100%;

    .waveform-image-container {
        height: 100%;
    }
}
