.song {
    padding: 10px;
}

.song-main {
    display: flex;
}

.song-image {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.song-info {
    flex: 1;
}

.song-title {
    font-size: 26px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.song-user-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.song-username {
    color: #ccc;
    font-size: 18px;
}

.song-comments {
    overflow: scroll;
}
