.user-card {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}

.user-card-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
