.user {
    display: flex;
    padding: 10px;
}

.user-detail {
    display: flex;
    flex-direction: row;
}

.user-image {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.user-info {
    flex: 1;
}

.user-username {
    display: block;
    font-size: 20px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-location {
    color: #ccc;
    font-size: 18px;

    i {
        margin-right: 10px;
    }
}
