.waveform {
    width: 100%;
}

.waveform-canvas {
    display: none;
}

.waveform-image-container {
    width:  100%;
    height: 50px;
    position: relative;
}

.waveform-image {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.waveform-image-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #A6D2A5;
    z-index: 0;
}

.waveform-seek-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid #222;
    z-index: 3;
}

.waveform-seek-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}
