$fontFamily: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;

$black: #222;
$blue: #3381b7;

$lighterGray: #e3e3e3;
$lightGray: #ddd;
$gray: #ccc;
$darkGray: #adadad;
$darkerGray: #3a3f41;
$darkestGray: #2B2B2B;

$orange: #f85d0f;
$darkOrange: darken($orange, 5);
$darkerOrange: darken($orange, 10);

$green: #a6d2a5;

$lightRed: #F9C5C5;
$red: #e17d74;

$white: #fff;
