$fontFamily: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;

$black: #222;
$blue: #3381b7;

$lighterGray: #e3e3e3;
$lightGray: #ddd;
$gray: #ccc;
$darkGray: #adadad;
$darkerGray: #3a3f41;
$darkestGray: #2B2B2B;

$green: #a6d2a5;

$white: #fff;
