.button {
  display: inline-block;
  padding:  12px;
  min-width: 100px;
  background-color: #fff;
  text-align: center;
  color: #222;
  font-size: 12px;
  border: 1px solid #C7C7C7;
  border-radius: 2px;
  outline: 0;
  transition: background-color 0.2s ease-in-out;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.button--block {
  display: block;
}

.button--margin {
  margin: 10px;
}

.button--orange {
  color: $white;
  background-color: $orange;
  border: 1px solid $darkerOrange;

  &:hover {
    background-color: $darkOrange;
  }

  &:active {
    background-color: $darkerOrange;
  }
}
