.nav-playlists {
  height: 100%;

  .popover__trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 25px;
    color: $mediumGray;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: $darkestGray;
    }
  }
}

.nav-playlists__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 300px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-playlists__title__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-playlists__title__icon {
  margin-left: 4px;
}

.nav-playlists__playlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  padding: 0 12px;
  overflow: hidden;

  & + .nav-playlists__playlist {
    border-top: 1px solid $lighterGray
  }

  &:hover {
    background-color: $lightestGray;
    text-decoration: none;
  }

  > * {
    pointer-events: none;
  }
}

.nav-playlists__playlist__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.nav-playlists__playlist__title {
  width: 180px;
  color: $black;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-playlists__playlist__meta {
  color: $gray;
  font-size: 11px;
}

.nav-playlists__playlist__songs {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  margin-left: 4px;
}

.nav-playlists__playlist__song {
  width: 32px;
  height: 32px;
  background: no-repeat center center;
  background-size: cover;

  & + .nav-playlists__playlist__song {
    margin-left: 4px;
  }
}
