.popover {
  position: relative;
}

.popover__trigger {
  outline: 0;

  &:hover {
    text-decoration: none;
  }
}

.popover__panel {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 200px;
  margin-top: 4px;
  background-color: $white;
  border: solid 1px $lighterBlack;
  box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
  z-index: 501;
}

.popover--right {
  .popover__panel {
    left: auto;
    right: 0;
  }
}
