* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  font-family: $fontFamily;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

*, *:after, *:before {
  box-sizing: border-box;
}
