.songs-body-card {
  width: 218px;
  background-color: $white;
  border: 1px solid $lighterGray;
}

.songs-body-card--active {
  border-color: $green;
}

.songs-body-card__inner {
  position: relative;
  padding: 10px;
}

.songs-body-card__artwork {
  height: 70px;
  margin-bottom: 10px;
  background: no-repeat center center;
  background-size: cover;

  &:hover {
    cursor: pointer;
  }
}

.songs-body-card__main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.songs-body-card__avatar {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background: no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}

.songs-body-card__details {
  flex: 1;
  overflow: hidden;
}

.songs-body-card__title {
  display: block;
  color: #222;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.songs-body-card__username {
  display: block;
  margin-right: 30px;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.songs-body-card__heart {
  position: absolute;
  bottom: 8px;
  right: 10px;
  font-size: 14px;
}
