.songs-header {
  height: 40px;
}

.songs-header--sticky {
  .songs-header__inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}

.songs-header__inner {
  height: 40px;
  background-color: $white;
  border-bottom: 1px solid $lighterGray;
}

.songs-header__sections {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.songs-header__section {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  border-right: 1px solid $lighterGray;
}

.songs-header__section--flex {
  flex: 1;
}

.songs-header__genre {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $darkGray;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  border-left: 1px solid $lighterGray;
  transition: all 200ms ease-in-out;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.songs-header__genre--active {
  border-bottom-color: $green;
  color: $black;
}

.songs-header__icon {
  color: $lightGray;
  margin-left: 18px;
}

.songs-header__time {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-left: 20px;
  color: $darkGray;
  font-size: 11px;
  font-weight: 300;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  transition: all 200ms ease-in-out;

  &:hover {
    color: $blue;
    text-decoration: none;
  }

  &:last-child {
    margin-right: 18px;
  }
}

.songs-header__time--active {
  color: $blue;
  border-bottom-color: $blue;
}
