.song {
  display: flex;
  flex-direction: row;
  margin: 40px 0 80px 0;
}

.song__main {
  width: 800px;
}

.song__song-list {
  margin-top: 20px;
}

.song__sidebar {
  width: 350px;
  margin-left: 20px;
}
