.mobile-song-list-item {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
}

.mobile-song-list-item-image {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.mobile-song-list-item-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobile-song-list-item-title {
    margin-bottom: 4px;
    font-size: 14px;
    white-space: nowrap;
}

.mobile-song-list-item-user {
    color: #999;
}
